.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
h1{
    font-size: 1.8rem;
}
.nav{
    height: 70px;
    width: 100vw;
    background: #101010c4;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

button{
    padding: 0px 30px;
    border-radius: 3px;
}

.container-box{
    height: calc(100vh-70px);
    min-width: 500px;
}
.project-add{
    display: flex;
    justify-content: space-between;
}
.b-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 30px;
    padding-right: 10px;
    border-radius: 3px;
    .add{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30px;
        
     
    }
}



